@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;800&display=swap');

:root {
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #667eea;
    --color-secondary: #764ba2;
    --boton-padding: 20px 40px;


}

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.subtitle {
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero {
    height: 100vh;
    background-image: var(--background), url('../img/HeroVR.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
.hero .container{
padding: 0;
}
.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}
.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}
.nav_items{
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}
.nav_items--cta{
    border: 1px solid #ffffff;
}
.nav__items--footer{
    border: 10px;
}
.hero__container{
display: flex;
height: calc(100vh - 70px);
align-items: center;
color: #fff;
}
.hero__texts{
    width: 80%;
    margin-bottom: 50px;
}
.hero__title{
    font-size: 3.2 rem;
}
.hero__subtitle{
    font-size:1.5rem;
    font-weight: 300;
    margin: 15px 0;
}
.hero__wave{
   position: absolute; 
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100px;
}
.hero__cta{
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
}
/* About*/


.presentation{
    padding-top:0 ;
    text-align: center;
}
.presentation__picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}
.presentation__copy{
    width: 80%;
    margin: 0 auto;
}
.presentation__cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px ;
}
.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-content: center;
    align-items: center;
}
.about__img{
    text-align: center;
}
.about__img--left{
    text-align: left;

}
.about__picture{
    max-width: 80%;
}
.about__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight:300 ;
}
/* Project */
.projects{
    background: #f2f2f2;
}
.projects__grid{
    display: grid;
    height: 550px;
    grid-template-areas: 
    "pr1 pr1 pr2 pr3"
    "pr1 pr1 pr4 pr5";
    gap: 10px;

}
.projects__item{
    position: relative;
    width: 100%;
    height: 100%;
  overflow: hidden;
}
.projects__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.projects__item:nth-of-type(1){
    grid-area: pr1;
}
.projects__item:nth-of-type(2){
    grid-area: pr2;
}
.projects__item:nth-of-type(3){
    grid-area: pr3;
}
.projects__item:nth-of-type(4){
    grid-area: pr4;
}
.projects__item:nth-of-type(5){
    grid-area: pr5;
}
.projects__hover{
    position: absolute;
    background: #dc143c8c;
top: 0;
    left: 0;
    width:100% ;
    height: 100%;
    color:#fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform:translateX(100%) ;
    cursor: pointer;
    transition: transform .3s ease-in-out;

}
.projects__item:hover .projects__hover{
transform: translateX(0%);
}
.projects__icon{
    margin-top: 10px;
    font-size: 30px;
}

 /*Modal*/
 .modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd; 
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s ;
    --transform: translateY(-100vh) ;
    --transition: transform .8s;
 }
 .modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s ;
    --transform: translateY(0) ;
    --transition: transform .8s .8s;

 }
 .modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height:90% ;
    border-radius: 6px;
    padding: 3em 2.5em;
    background-color: #fff;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns:100% ;
    transform: var(--transform);
    transition: transform .3s;
    transition: var(--transition);
 }
 .modal__title{
    font-size: 2.5rem;
 }
 .modal__paragraph{
    margin-bottom: 10px;
 }
 .modal__img{
    width: 90%;
    max-width: 800px;
 }
 .modal__close{
    text-decoration: none;
    color: #fff;
    background-color: #F26250 ;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: #111111bd .3s ;
 }
 .modal__close:hover{
    color: #F26250;
    background-color: #fff;
 }
/* tESTIMONY**/
.testimony__grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30 px;
}
.testimony__item{
    width: 95%;
    margin: 0 auto;
    background-color: var(--color-secondary);
    box-shadow: 0 8px 10px rgba(66, 66, 66, .5);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 50px;
}
.testimony__person{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.testimony__img{
    width: 100px;
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border:3px solid #fff ;
    margin-right: 30px;
}
.testimony__name{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.testimony__verification{
    color: #EAFAA0;
    font-weight: 700;
}
.testimony__review{
    font-weight: 300;
}
/*FOOTER*/
.footer{
    background-color: var(--color-primary);

}
.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}
.footer__title{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}
.footer__subtitle{
    font-weight: 300;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
}
.footer__icons{
    display: flex;
    justify-content: space-evenly;

}
.footer__container-icons{
display: inline-block;
width: 60px;
height: 60px;
color: #fff;
text-align: center;
border: 1px solid #fff;
border-radius: 50%;
}
.footer__icon{
    color: inherit;
    font-size: 30px;
    text-decoration: none;
}
.fa-brands.footer__icon{
    line-height: 60px;
}

/*Responsive desing*/
@media screen and (max-width:800px){
    
:root {
    
    --boton-padding: 18px 40px;
}
.nav{
    justify-content: space-around;
}
.nav_items--cta{
    border: none;
}
.nav_items{
    font-weight: 400;
    border-bottom: 1px solid #fff;
    margin-right: 0;
}

.nav__items--footer{
    border: none;
}
.hero__texts{
    width: 100%;
    margin-bottom: 80px;
}.hero__title{
    font-size: 2.5rem;
}
.hero__subtitle{
    font-size: 1.5rem;
}
/*Modal*/
.modal__container{
    padding: 2m 1.5 em;

}
.modal__title{
    font-size: 2rem;
}
/*About*/
.presentation__copy{
     width: 100%; 
}
.about {
    grid-template-columns: 1fr;
}
.about.container{
    padding-top: 30px;
}
.about__img--left{
    text-align: center;
}
.about__texts:last-child{
    grid-row: 3/4;

}
/*Project*/
.projects__grid{
  
    grid-template-areas: 
    "pr1 pr1 pr2 pr2"
    "pr1 pr1 pr3 pr3"
    "pr4 pr4 pr5 pr5";

}

/*Testimony*/
.testimony__grid{
    grid-template-columns: 1fr;
    gap: 20px;
}
/*Footer*/
.footer__grid{
    grid-template-columns: 1fr;
}
.footer__contact{
    grid-row: 1/2;
}


}
@media screen and (max-width:500px) {
    :root{
        --boton-padding:18px 35px
    }
    .subtitle{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .nav{
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
    }
    .nav__texts{
        padding: 0 10px;
        border: 0;
    }
    .hero__texts{
        text-align: center;
        margin-bottom: 100px;
    }
    .hero__title{
        font-size: 2rem;
    }
    /*About*/
    .presentation__picture{
        width: 120px;
        height: 120px;

    }
    .about{
        row-gap: 60px;

    }
    .about.container{
        padding-top: 10px;
    }
    /*My projects*/

.projects__grid{
    grid-template-areas: 
    "pr1"
    "pr2"
    "pr3"
    "pr4"
    "pr5";
    height: auto;
    grid-template-rows: repeat(5,250px);
    grid-auto-rows: 250px;
    gap: 10px;
}
/*Modal*/
.modal__container{
    padding: 1.5m .5 em;

}
.modal__title{
    font-size: 1.5rem;
}
    /*Testimony*/
    .testimony__item{
        padding: 30px 15px;
    }
    .testimony__person{
        flex-direction: column;
    }
    .testimony__texts{
        text-align: center;
    }
    .testimony__img{
        margin: 0;
        margin-bottom: 20px;
    }

}


